APP_NAME=KoperasiHub
APP_ENV=production
APP_KEY=base64:MFojltLWCkCIhyS7IDABmN2hFFNfePTPdFMYZRhrBHU=
APP_DEBUG=false
APP_URL=https://domain-awak.com

APP_LOCALE=ms
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=ms_MY

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log

VITE_APP_NAME="${APP_NAME}"